################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppTrain/.vs/WebAppTrain/v15/Server/sqlite3/db.lock
/WebAppTrain/.vs/WebAppTrain/v15/sqlite3/db.lock
*.ide-wal
*.ide-wal
/WebAppTrain/.vs